<div class="container">
  <h1 class="main-visual-text text-center pt-5">みんなの絵本屋さん<h1>
  <div class="row">
    <table class="col-12 col-md-2 table table-bordered text-center">
      <thead>
        <tr>
          <th><p>年齢別</br>
              検索</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr><td><%= link_to "0歳児", category_search_items_path(:category_id => 1) %></td></tr>
        <tr><td><%= link_to "1歳児", category_search_items_path(:category_id => 2) %></td></tr>
        <tr><td><%= link_to "2歳児", category_search_items_path(:category_id => 3) %></td></tr>
        <tr><td><%= link_to "3歳児", category_search_items_path(:category_id => 4) %></td></tr>
        <tr><td><%= link_to "4歳児", category_search_items_path(:category_id => 5) %></td></tr>
        <tr><td><%= link_to "5歳児", category_search_items_path(:category_id => 6) %></td></tr>
      </tbody>
    </table>
    <div class="col-12 col-md-10">
      <div class="row">
        <%= search_form_for @q, url: search_items_path do |f| %>
        <div class="col-12 col-md-12">
          <%= f.label :name_cont, '絵本の名前で検索', class: "col-md-5 text-center"  %>
        　<%= f.search_field :name_cont, class: "col-md-3" %>
          <%= f.submit '検索', class: "col-md-3" %>
        </div>
        <% end %>
      </div>
      <h2 class="py-3">新着商品</h2>
      <div class="item row ml-5">
        <% @items. first(4).each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div class=" col-12 col-md-3 text-center">
            <%= attachment_image_tag item, :image, :size => '180x120'%></br>
            <%= item.name %></br>
            <%= item.price %>円（税抜)</br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="float-right">
      <%= link_to "全ての商品を表示", items_path %>
    </div>
</div>

