 <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 border border-dark py-3">
        <h1>ようこそ、picture book shopへ！</br>
            このサイトは絵本のECサイトになります。</br>
            会員でない方も商品の閲覧はできますが、</br>
            購入には会員登録が必要です。
        </h1>
      </div>
      <table class="col-md-2 table table-bordered mt-5">
        <thead>
          <tr>
            <th>対象年齢別検索</th>
          </tr>
        </thead>
        <tbody>
          <tr><td><%= link_to "0歳児", category_search_items_path(:category_id => 1) %></td></tr>
          <tr><td><%= link_to "1歳児", category_search_items_path(:category_id => 2) %></td></tr>
          <tr><td><%= link_to "2歳児", category_search_items_path(:category_id => 3) %></td></tr>
          <tr><td><%= link_to "3歳児", category_search_items_path(:category_id => 4) %></td></tr>
          <tr><td><%= link_to "4歳児", category_search_items_path(:category_id => 5) %></td></tr>
          <tr><td><%= link_to "5歳児", category_search_items_path(:category_id => 6) %></td></tr>
        </tbody>
      </table>
      <div class="col-md-10 pt-5">
        <%= search_form_for @q, url: search_items_path do |f| %>
          <%= f.label :name_cont, '絵本のタイトルで検索する' %>
          <%= f.search_field :name_cont %>
          <%= f.submit '検索' %>
        <% end %>
        <h2 class="py-3">新着商品</h2>
        <div class="col-lg-12">
          <% @items. first(4).each do |item| %>
            <div class="item mr-5">
              <%= link_to item_path(item.id) do %>
                <%= attachment_image_tag item, :image, size: "90x100"%>
                <p><%= item.name %></p>
                <p><%= item.price %>円（税抜）</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  　<div class="float-right">
      <%= link_to "全ての商品を表示", items_path %>
    </div>
  </div>

