<div class="container">
  <div class="row">
    <h4 class="col-lg-3 text-center bg-light my-4">配送先編集</h4>
  </div>
<%= form_with model:@address, url:address_path, local: true do |f| %>
  <div class="row col-md-11">
    <%= f.label :郵便番号（ハイフンなし）, class:"col-md-5 my-2" %>
    <%= f.text_field :postal_code, class:"col-md-6 my-2" %>
    <%= f.label :住所, class:"col-md-5 my-2" %>
    <%= f.text_field:address, class: "col-md-6 my-2" %>
    <%= f.label :宛名, class:"col-md-5 my-2" %>
    <%= f.text_field:name, class:"col-md-6 my-2" %>
    <%= f.submit "編集", class: "btn btn-success my-2 mx-auto" %>
  <% end %>
　</div>