<div class="container">
  <div class="row">
    <h4 class="header col-lg-2 text-center bg-light my-4 ml-5">注文情報確認</h4>
  </div>
  <div class="row">
    <table class="col-md-7 table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @cart_items.each do |cart_item| %>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price%></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.total_price %></td>
          <% @total_price= @total_price + cart_item.total_price %>
        </tr>
          <% end %>
      </tbody>
    </table>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th>合計</th>
          <td><%= @total_price %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= @order.total_payment=@order.shipping_cost+@total_price %></td>
        </tr>
    </table>
  </div>
  <h5>支払い方法</h5>
    <%= @order.payment_method_i18n %>
  <h5>お届け先</h5>
    〒<%= @order.postal_code %> <%= @order.address %></br>
    <%= @order.name %>
    <div>
      <%= form_with model: @order,url:orders_path, local: true do |f| %>
      <%= f.hidden_field :payment_method %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :postal_code %>
      <%= f.hidden_field :total_payment %>
      <%= f.hidden_field :shipping_cost %>
      <%= f.hidden_field :status, :value => 0 %>
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
      <% end %>
    </div>
</div>
