<div class="container my-5">
  <div class="row main">
    <div class="col-md-5">
     <%= attachment_image_tag @item, :image, width: '60%', height: '60%' %>
    </div>
    <div class="col-md-4">
        <h1><%=@item.name %></h1>
        <p><%= @item.author %>作</p>
        <p><%= @item.illustrator %>絵</p>
        <p>適応年齢　<%= @item.category.name %></p>
        <p><%= @item.introduction %></p>
        <p>税込<%= @item.with_tax_price %>円</p>
      <%= form_with model: @cart_item,url:cart_items_path, local: true do |f| %>
      　<% if customer_signed_in? %>
        <%= f.select :amount, options_for_select((1..20).to_a) %>冊
        <%= f.hidden_field :item_id, value: @item.id%>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.submit "カートに入れる", class:"btn btn-success" %>
      　<%= link_to "レビューを投稿する",new_item_review_path(@item),class:"btn btn-success btn-lg my-3" %>
      <% end %>
      <% end %>
      <h1>レビュー一覧</h1>
      <table>
        <thead>
          <tr>
            <th>コメント</th>
            <th>評価</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td><%= review.review_body %></td>
              <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
              <td>
                <% if review.customer_id == current_customer.id %>
                <%= link_to "編集",edit_item_review_path(@item, review),class:"btn btn-success btn-lg"%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <script>
        $('.review-evaluation').empty();
        $('.review-evaluation').raty({
          readOnly: true,
          score: function() {
            return $(this).attr('data-score');
          },
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
        });
      </script>
    </div>
  </div>
</div>